# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Environment
.env
venv/
env/

# Data
data/raw/
data/processed/
*.csv
*.json

# Models
models/
*.pkl
*.pt
*.pth
mlruns/
# IDE
.vscode/
.idea/
*.swp
data/

# OS
.DS_Store
Thumbs.db